// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.company.card {
    width: 300px;
}

.card-footer.d-flex{
    gap:8px;
}

.employee, .editCompany {
    .companyLogo {
        width: 200px;
    }
}

.company {
    .companyLogo {
        position: absolute;
        bottom: -36px;
        max-height: 80px;
    }

    .card-header {
        height: 60px;
    }
}

.results {
    gap: 20px;
}

.error {
    color: red;
}

@media only screen and (max-width: 677px) {
    .company.card {
        width: 100%;
    }

    .cardContainer {
        width: 100%;
    }
  }
